
	<link rel="stylesheet" href="assets/style.css">

    <style>
       body {
      background-image: linear-gradient(to bottom, blue , blueviolet);
    }
   
        </style>
  
   <nav  class="navbar navbar-expand-sm " style="background-color: maroon;" > 
      <a href="/" ><h3  style="margin:20px;"><font style="color:white;">Real Learning</font></h3></a> -->
    <div class="navbar-collapse collapse" id="navbarCustom">
        
        <ul class="navbar-nav"> 
       
  
            <li class="nav-item ">
            <b>   <a class="nav-link" routerLink="/adminpage" ><font style="color: white">Home</font></a>
            </b>  </li>
         
       
      <li class="nav-item ">
            <b>   <a class="nav-link" routerLink="/adminpage" ><font style="color: white">Welcome {{name}}</font></a>
            </b>  </li>
        </ul>
        
    </div>
  </nav>

 
    <div style="margin: 20px;">
          
            <div  class="row" >
        
                    
                    <div class="card">
      
         
      
                            <div class="card-body  white-text">
                            
           
        
                           
                              <p class="white-text">
                                  Total Registered User :
                                <font size="15">  {{totaluser.size}}+</font>
                           
                                    </div>
                        
                        
                          </div>
                          <div class="card">
      
         
      
                                <div class="card-body elegant-color white-text">
                                
               
            
                               
                                  <p class="white-text">
                                      Total Course :
                                    <font size="15">  {{totalcourse.size}}+</font>
                               
                                        </div>
                            
                            
                              </div>
                          </div>
            
                    </div>
      <div style="margin: 20px;">
          
          <div  class="row" >
      
  
          <!-- <div class="col-sm-2"> -->
        
        <!-- <div class="card">
      
         
      
          <div class="card-body elegant-color white-text">
            <p class="card-text white-text">Create Account</p>
            <a routerLink="/map"><button class="btn" style="border-radius: 15px" >Create</button></a>
          </div>
      
        </div> -->
        
      <!-- </div> -->
      
      <div class="col-sm-1"></div>
      
          <div class="col-sm-4">
      
                  <div class="card">
      
         
      
                          <div class="card-body elegant-color white-text">
                            <p class="card-text white-text">Manage User Account</p>
                            <a routerLink="/viewaccount"><button class="btn" style="border-radius: 15px" >View</button></a>
                          </div>
                      
                        </div>
                        
                      </div>
      
      
  
      
        
      
                  <div class="col-sm-2">
                  </div>
                    
                  
                  
                      <div class="col-sm-4">
                  
                              <div class="card">
                  
                     
                  
                                      <div class="card-body elegant-color white-text">
                                        <p class="card-text white-text">View Course</p>
                                        <a routerLink="/viewride"><button class="btn" style="border-radius: 15px" >View</button></a>
                                      </div>
                                  
                                    </div>
                                    
                                  </div>
                  <div class="col-sm-1"></div>
                  </div>
                  </div>
                  
                 
  
      
      
      
      
            
      
              
        
      
  
  
      